<div class="flex h-full flex-col justify-between border-e bg-white z-30">
    <div class="px-4 py-6 z-30">

        <ul class="mt-6 space-y-1">
            <li>
                <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-gray-100 text-gray-700" class="block rounded-lg text-gray-500 px-4 py-2 text-sm font-medium hover:bg-gray-100 hover:text-gray-700">
                    Inicio
                </a>
            </li>
            <hr class="mt-4 mb-4"/>
            @for(provincia of provincias(); track provincia.id) {
                <li>
                    <a [routerLink]="['/festivos', provincia.id, currentYear]" routerLinkActive="bg-gray-100 text-gray-700"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                        {{ provincia.label }}
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
