<div class="flex flex-col h-screen max-h-screen overflow-hidden bg-white dark:bg-gray-900">
    <app-cookie-banner />

    <nav class="lg:hidden w-full p-4 border-b border-gray-200 bg-gray-50 dark:border-gray-600 dark:bg-gray-700 sticky top-0 z-50 flex gap-2 items-center">
        <div class="flex">
            <app-menu-icon [(toggleMenu)]="showMenu" />
        </div>
        <div class="flex-1">
            <div class="font-medium text-gray-900 dark:text-white">{{ topNavbarService.title() }}</div>
        </div>
    </nav>

    <div class="flex flex-1 overflow-hidden relative">

        <nav class="w-full lg:w-64 max-h-full overflow-y-auto lg:block fixed lg:static transition-transform lg:translate-x-0 z-40 bg-white dark:bg-gray-800 border-e border-gray-200 dark:border-gray-700"
            [ngClass]="{ '-translate-x-full': !showMenu(), 'translate-x-0': showMenu() }">
            <app-sidemenu />
        </nav>

        <main class="flex-1 w-full overflow-y-auto flex flex-col bg-white dark:bg-gray-900">
            <div class="flex-1">
                <router-outlet />
            </div>
            <app-footer />
        </main>

    </div>
</div>