<div class="flex flex-col h-full">
    <div class="w-full p-4 border border-gray-200 bg-gray-50 dark:border-gray-600 dark:bg-gray-700 sticky top-0 z-10" [hidden]="!isNative">
        Top Navbar
    </div>
    <div class="grow flex">
        <div class="w-48">
            <app-sidemenu />
        </div>
        <div class="flex-1 h-full overflow-y-auto">

            <div class="w-full max-h-full">
                <router-outlet />
            </div>
        </div>
    </div>
    <footer class="bg-gray-50 flex-none" [hidden]="isNative">
        Footer
    </footer>
</div>