<div>
    <h2 class="text-center font-semibold text-gray-900">{{ monthName() | titlecase }}</h2>
    <div class="grid grid-cols-7 ">
        <div class="text-center text-gray-500">L</div>
        <div class="text-center text-gray-500">M</div>
        <div class="text-center text-gray-500">X</div>
        <div class="text-center text-gray-500">J</div>
        <div class="text-center text-gray-500">V</div>
        <div class="text-center text-gray-500">S</div>
        <div class="text-center text-gray-500">D</div>
    </div>
    <div class="grid grid-cols-7 gap-[1px] bg-gray-200 mt-2 border shadow rounded-lg">

        @for (prevDate of daysToFillStartWeek(); track $index) {
            <div class="day day-inactive">
                <time [dateTime]="prevDate | date:'yyyy-MM-dd'">{{ prevDate.getDate() }}</time>
            </div>
        }

        @for(day of daysInMonth(); track $index) {
            <div class="day">
                <time [dateTime]="day | date:'yyyy-MM-dd'" [ngClass]="applyFestividadStyle(day.getDate())">{{ day.getDate() }}</time>
            </div>
        }

        @for(lastWeekDay of daysToFillEnd(); track $index) {
            <div class="day day-inactive">
                <time [dateTime]="lastWeekDay | date:'yyyy-MM-dd'">{{ lastWeekDay.getDate() }}</time>
            </div>
        }

    </div>
    <div class="p-4">
        <ul class="list-festivos">
            @for(festivo of festivos(); track $index) {
                <li><span [ngClass]="'festivo ' + applyFestividadStyle(festivo.dia)">{{ getDate(festivo.dia) | date:'dd' }}</span> - {{ festivo.nameFestividad }} - Festivo {{ festivo.festividad }}</li>
            }
        </ul>
    </div>
</div>